body {
  margin: auto;
  padding-top: 2em;
  background-color: whitesmoke;
  font-family: sans-serif;
}
.main-container {
  margin: auto;
  width: 22rem;
  box-shadow: 0 3px 10px rgba(5, 4, 4, 0.2);
  background-color: white;
  padding: 0.5em 1.5em;
  padding-bottom: 4em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 5em;
}
hr {
  margin-top: 10%;
  height: 0.1em;
  border: none;
  background-color: lightgray;
}

.song-header {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.2em;
  margin-top: -1em;
  font-family: sans-serif;
  font-size: 1.05em;
}
.singer {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 2em;
  font-size: 0.8em;
}

.music-time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: rgb(95, 90, 90);
}
.music-button {
  display: flex;
  padding: 4% 2%;
  justify-content: space-around;
  align-items: center;
}
.music-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  color: rgb(95, 90, 90);
}
.image-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  box-shadow: 0 0 10px rgb(114, 94, 94);
}
.highlighted-song {
  font-weight: bold;
  font-size: 1.1em;
}
.menu {
  font-size: 1.5em;
  color: lightgrey;
}
.navbar-text {
  margin-top: 1em;
  color: lightgray;
  font-size: 0.8em;
}
.dot-style {
  color: rgb(67, 190, 114);
  font-size: 0.2em;
}
.play-button {
  font-size: 3em;
  color: rgb(202, 183, 183);
}
.dot-icon {
  display: flex;
  align-items: center;
  margin-left: -0.5em;
}
.highlighted-dot{
  margin-left: 0.2em;
}
